@import url('https://fonts.googleapis.com/css2? family=Jaldi&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(205, 221, 231) ;
   
    
}

nav{
    display: flex;
    justify-content:right;
    align-items: center;
    min-height:  9vh;
    background-image: linear-gradient(90deg,rgb(116, 151, 175),rgb(205, 221, 231));
    
}



.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    text-transform: uppercase;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(116, 151, 175);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
   
}

.nav-links a:hover{
    background-color: rgb(225, 231, 235);
    

}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 5px;
    transition: all 0.3s ease;

}




   

   
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);

}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.container{
    margin-top: 170px;
    position: relative;
    width: 100%;
   
    min-height: 1000px;
    background-color: white;
    
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    box-shadow: 35px 0 55px rgba(0,0,0,0.1);

}

.container .left_Side{
    position: relative;
    background-image: linear-gradient(90deg,rgb(116, 151, 175),rgb(205, 221, 231));
    padding: 50px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    
}



.profilText .imgBox img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit:cover;
    
}

.profileText h2{
    color:white;
    font-size: 2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h4{
    color:white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    line-height: 1.4em;
}
.adresse{
    padding-top: 40px;
    
}

.adresse .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(79, 96, 196);
}

.adresse .text{
    color: white;
    
   
}
.contactInfo{
    padding-top: 40px;
}

.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
#title1{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.sprache{
    padding-top: 40px;
}

.sprache h3{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}



.sprache .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.sprache .box h4{
    
    color: white;
    font-weight: 500;

}

.sprache .box .percent{
    position: relative;
    width: 90%;
    min-height: 10px;
    background-color: #f1f5f8;
}

.sprache .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(92, 130, 161);
}

.contactInfo ul{
    position: relative;
}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:rgb(51, 63, 139);
}

.contactInfo ul li span{
    color:white
}



.container .right_Side{
   
    position: relative;
    background-color: rgb(205, 221, 231);
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}


#title2{
    color: rgb(92, 130, 161);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 40px 50px;
}

.about .box .year {
    max-width: 200px;
}


.about .box .year h5{
    
    color: gray;
    font-weight: 600;
    font-size: 16px;

}

.about .box .text h4{
    text-transform: uppercase;
    color: rgb(92, 130, 161);
    font-size: 16px;
    margin-left: 70px;
   
}
.about .box .text h5{
    
    color: rgb(92, 130, 161);
    font-size: 14px;
    
    margin-left: 70px;
   
}
.about .box .text h6{
    
    color: rgb(92, 130, 161);
    font-size: 14px;
    margin-left: 70px;
   
}
#title3, #title4, #title5{
    color: rgb(92, 130, 161);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.skills .box{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: gray;
    font-weight: 500;

}

.skills .box .percent{
    position: relative;
    width: 100%;
    min-height: 10px;
    background-color: #f1f5f8;
}

.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(92, 130, 161);
}

@media (max-width: 1200px){
    .nav-links{
        width: 70%;
       
    }
    .container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 700px){
    body{
        overflow-x: hidden;
        
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 25vh;
        top: 8vh;
        
        background-image: rgb(129, 168, 201);
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-top: 20px;
        padding-bottom: 40px;

    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
        
       
    }
    .about .box{
        flex-direction: column;
    }
    .about .box .year{
        min-width: 150px;
        margin-top: 5px;
    }

    
  

.nav-active{
    transform: translateX(0%);
}



  
    .about .box{
        flex-direction: column;
    }
    .about .box .year{
        min-width: 150px;
        margin-top: 5px;
    }

    
    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}

footer{
    color: rgb(92, 130, 161);
    text-align: center;
}

footer .icon{
    display: inline-block;
    width: 30px;
    font-size: 16px;
    color: rgb(58, 80, 207);
   
}















